---
title: shophia
---
{% extends "app/pages/layout/_main.html" %}


{% block content %}

<!-- begin header -->
<header class="header">
	<!-- begin header__top -->
	<div class="header__top">
		<!-- begin container -->
		<div class="container">
			<!-- begin row -->
			<div class="row justify-content-between">
				<div class="col-sm-4">
					<a href="#" class="header__phone">
						Call +001 555 801
					</a>
				</div>
				<div class="col-sm-6 d-flex justify-content-end header__links-wrap">
					<nav class="header__links">
						<ul>
							<li><a href="#">Welcome msg!</a></li>
							<li><a href="#">My account</a></li>
							<li><a href="#">My whistlist</a></li>
							<li><a href="#">Login</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end header__top -->
	<!-- begin header__bottom -->
	<div class="header__bottom">
		<!-- begin container -->
		<div class="container h-100">
			<!-- begin row -->
			<div class="row h-100 align-items-center">
				<div class="col-lg-4 col-md-12 col-xs-12">
					<nav class="header__nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Gallery</a></li>
							<li><a href="#">Categories</a></li>
							<li><a href="#">Pages</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 col-md-12 d-flex justify-content-center">
					<a href="#" class="header__logo"></a>
				</div>
				<div class="col-lg-4 col-md-12 col-xs-12">
					<ul class="header__social">
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="pinterest" href="#"></a></li>
						<li><a class="instagram" href="#"></a></li>
					</ul>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end header__bottom -->
</header>
<!-- end header -->
<!-- begin slider -->
<section class="slider">
	<!-- begin slider__wrapper -->
	<div class="slider__wrapper">
		<!-- begin slider__item -->
		<div class="slider__item" style="background-image: url('images/slider-img.jpg'); background-position: 50% 0;">
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex align-items-center justify-content-center flex-nowrap flex-column">
						<div class="slider__item-label">
							<span class="label__name">
								Mid-season
							</span>
							<span class="label__sale">
								Sale
							</span>
							<span class="label__upto">
								Up to
							</span>
							<span class="label__discount">
								50<span class="percent">%</span> OFF
							</span>
						</div>
						<a href="#" class="btn btn__inline slider__btn">
							Shop now
						</a>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end slider__item -->
		<!-- begin slider__item -->
		<div class="slider__item" style="background-image: url('https://placehold.it/1170x900'); background-position: 50% 50%;">
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex align-items-center justify-content-center flex-nowrap flex-column">
						<div class="slider__item-label">
							<span class="label__name">
								Mid-season
							</span>
							<span class="label__sale">
								Sale
							</span>
							<span class="label__upto">
								Up to
							</span>
							<span class="label__discount">
								100<span class="percent">%</span> OFF
							</span>
						</div>
						<a href="#" class="btn btn__inline slider__btn">
							Shop now
						</a>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end slider__item -->
		<!-- begin slider__item -->
		<div class="slider__item" style="background-image: url('images/slider-img.jpg'); background-position: 50% 0;">
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex align-items-center justify-content-center flex-nowrap flex-column">
						<div class="slider__item-label">
							<span class="label__name">
								Mid-season
							</span>
							<span class="label__sale">
								Sale
							</span>
							<span class="label__upto">
								Up to
							</span>
							<span class="label__discount">
								50<span class="percent">%</span> OFF
							</span>
						</div>
						<a href="#" class="btn btn__inline slider__btn">
							Shop now
						</a>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end slider__item -->
		<!-- begin slider__item -->
		<div class="slider__item" style="background-image: url('https://placehold.it/1170x900'); background-position: 50% 50%;">
			<!-- begin container -->
			<div class="container h-100">
				<!-- begin row -->
				<div class="row h-100">
					<div class="col-sm-12 d-flex align-items-center justify-content-center flex-nowrap flex-column">
						<div class="slider__item-label">
							<span class="label__name">
								Mid-season
							</span>
							<span class="label__sale">
								Sale
							</span>
							<span class="label__upto">
								Up to
							</span>
							<span class="label__discount">
								100<span class="percent">%</span> OFF
							</span>
						</div>
						<a href="#" class="btn btn__inline slider__btn">
							Shop now
						</a>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end slider__item -->
	</div>
	<!-- end slider__wrapper -->
</section>
<!-- end slider -->
<!-- begin support -->
<section class="section support">
	<!-- begin container -->
	<div class="container">
		<!-- begin support__wrapper -->
		<div class="support__wrapper">
			<!-- begin support__item -->
			<div class="support__item">
				
				<div class="support__name">
					<div class="support__icon">
						<i class="fa fa-plane" aria-hidden="true"></i>
					</div>
					Free shipping
				</div>
				<div class="support__description">
					In Order Min $200
				</div>
			</div>
			<!-- end support__item -->
			<!-- begin support__item -->
			<div class="support__item">
				
				<div class="support__name">
					<div class="support__icon">
						<i class="fa fa-clock-o" aria-hidden="true"></i>
					</div>
					30-Days returns
				</div>
				<div class="support__description">
					Money Back Guarantee
				</div>
			</div>
			<!-- end support__item -->
			<!-- begin support__item -->
			<div class="support__item">
				
				<div class="support__name">
					<div class="support__icon">
						<i class="fa fa-life-bouy" aria-hidden="true"></i>
					</div>
					24/7 Support
				</div>
				<div class="support__description">
					Lifestume Support
				</div>
			</div>
			<!-- end support__item -->
		</div>
		<!-- end support__wrapper -->
	</div>
	<!-- end container -->
</section>
<!-- end support -->
<!-- begin featured -->
<section class="section featured">
	<!-- begin container -->
	<div class="container">
		<h1 class="main__title">
			<span>
				HandPicked
			</span>
		</h1>
		<!-- begin row -->
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<!-- begin featured__left -->
				<div class="featured__left">
					<!-- begin featured__item -->
					<div class="featured__item" style="background-image: url('images/featured1.jpg');">
						<a href="#" class="featured__add"></a>
						<a href="#" class="btn btn__inline featured__btn">
							Shop now
						</a>
					</div>
					<!-- end featured__item -->
					<!-- begin featured__item -->
					<div class="featured__item" style="background-image: url('images/featured2.jpg');">
						<div class="featured__text top">
							<span class="discount">
								Discount 30%
							</span>
							<span class="name">
								Jewellery product
							</span>
						</div>
						<a href="#" class="featured__add"></a>
						<a href="#" class="btn btn__inline featured__btn">
							Shop now
						</a>
					</div>
					<!-- end featured__item -->
				</div>
				<!-- end featured__left -->
			</div>
			<div class="col-md-4 col-sm-12">
				<!-- begin featured__center -->
				<div class="featured__center">
					<!-- begin featured__item full -->
					<div class="featured__item full" style="background-image: url('images/featured3.jpg');">
						<div class="featured__text left">
							<span class="name">
								PARIS Hilton
							</span>
							<span class="category">
								Collection
							</span>
						</div>
						<a href="#" class="featured__add"></a>
						<a href="#" class="btn btn__inline featured__btn">
							Shop now
						</a>
					</div>
					<!-- end featured__item full -->
				</div>
				<!-- end featured__center -->
			</div>
			<div class="col-md-4 col-sm-12">
				<!-- begin featured__right -->
				<div class="featured__right">
					<!-- begin featured__item -->
					<div class="featured__item" style="background-image: url('images/featured4.jpg');">
						<div class="featured__text center">
							<span class="discount">
								50%
							</span>
							<span class="discount__off">
								off
							</span>
						</div>
						<a href="#" class="featured__add"></a>
						<a href="#" class="btn btn__inline featured__btn">
							Shop now
						</a>
					</div>
					<!-- end featured__item -->
					<!-- begin featured__item -->
					<div class="featured__item" style="background-image: url('images/featured5.jpg');">
						<a href="#" class="featured__add"></a>
						<a href="#" class="btn btn__inline featured__btn">
							Shop now
						</a>
					</div>
					<!-- end featured__item -->
				</div>
				<!-- end featured__right -->
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end featured -->
<!-- begin recent -->
<section class="section recent">
	<!-- begin container -->
	<div class="container">
		<h2 class="main__title">
			<span>
				Summer Collection
			</span>
		</h2>
		<!-- begin recent__wrapper -->
		<div class="recent__wrapper">
			<!-- begin row -->
			<div class="row no-gutters">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent1.jpg');">
						<span class="recent__label">
							20<span>%</span>
						</span>
						<div class="recent__button-wrapper">
							<button class="recent__button">
								+ Add to cart
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent2.jpg');">
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent3.jpg');">
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent4.jpg');">
						<span class="recent__label">
							20<span>%</span>
						</span>
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent5.jpg');">
						<span class="recent__label">
							20<span>%</span>
						</span>
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent6.jpg');">
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent7.jpg');">
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="recent__item" style="background-image: url('images/recent8.jpg');">
						<span class="recent__label">
							20<span>%</span>
						</span>
						<button class="recent__button">
							+ Add to cart
						</button>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end recent__wrapper -->
	</div>
	<!-- end container -->
</section>
<!-- end recent -->
<!-- begin brand -->
<section class="section brand">
	<!-- begin container -->
	<div class="container">
		<h3 class="main__title">
			<span>
				Our Brand
			</span>
		</h3>
		<!-- begin row -->
		<div class="row">
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand1.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand2.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand3.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand4.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand5.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
			<div class="col-xl-2 col-md-4 col-6 d-flex align-self-center justify-content-center">
				<!-- begin brand__item -->
				<div class="brand__item">
					<img src="images/brand6.png" alt="">
				</div>
				<!-- end brand__item -->
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
<!-- end brand -->
<!-- begin testimonial -->
<section class="section testimonial">
	<h4 class="main__title">
		<span>
			Customers Says
		</span>
	</h4>
	<!-- begin testimonial__wrapper -->
	<div class="testimonial__wrapper">
		<!-- begin container -->
		<div class="container">
			<!-- begin row -->
			<div class="row">
				<div class="col-md-6 col-sm-12 col-12">
					<!-- begin testimonial__item-left -->
					<div class="testimonial__item testimonial__item-left">
						<div class="testimonial__photo">
							<img src="images/girl.png" alt="">
						</div>
						<div class="testimonial__text">
							<div class="testimonial__description">
								<p>
									Sed ut perspiciatis <br>
									unde omnis iste natus error sit <br>
									voluptatem accusantium doloremque 
								</p>
							</div>
							<div class="testimonial__name">
								Sandra Dewi
							</div>
							<div class="testimonial__position">
								Fashion stylish
							</div>
						</div>
					</div>
					<!-- end testimonial__item-left -->
				</div>
				<div class="col-md-6 col-sm-12 col-12">
					<!-- begin testimonial__item-right -->
					<div class="testimonial__item testimonial__item-right">
						<div class="testimonial__text">
							<div class="testimonial__description">
								<p>
									Sed ut perspiciatis <br>
									unde omnis iste natus error sit <br>
									voluptatem accusantium doloremque 
								</p>
							</div>
							<div class="testimonial__name">
								Shaheer Sheikh
							</div>
							<div class="testimonial__position">
								Fashion stylish
							</div>
						</div>
						<div class="testimonial__photo">
							<img src="images/man.png" alt="">
						</div>
					</div>
					<!-- end testimonial__item-right -->
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end testimonial__wrapper -->
</section>
<!-- end testimonial -->
<!-- begin footer -->
<footer class="footer">
	<!-- begin container -->
	<div class="container">
		<!-- begin footer__top -->
		<div class="footer__top">
			<!-- begin row -->
			<div class="row">
				<div class="col-sm-6">
					<!-- begin row -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<nav class="footer__nav">
								<span class="footer__title">
									Shops
								</span>
								<ul>
									<li><a href="#">New in</a></li>
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Shoes</a></li>
									<li><a href="#">Bags & Accessories</a></li>
									<li><a href="#">Top Brands</a></li>
									<li><a href="#">Sale & Special Offers</a></li>
									<li><a href="#">Lookbook</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-4 col-sm-6">
							<nav class="footer__nav">
								<span class="footer__title">
									INFORMATION
								</span>
								<ul>
									<li><a href="#">New in</a></li>
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Shoes</a></li>
									<li><a href="#">Bags & Accessories</a></li>
									<li><a href="#">Top Brands</a></li>
									<li><a href="#">Sale & Special Offers</a></li>
									<li><a href="#">Lookbook</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-4 col-sm-6">
							<nav class="footer__nav">
								<span class="footer__title">
									CUSTOMER SERVICE
								</span>
								<ul>
									<li><a href="#">New in</a></li>
									<li><a href="#">Women</a></li>
									<li><a href="#">Men</a></li>
									<li><a href="#">Shoes</a></li>
									<li><a href="#">Bags & Accessories</a></li>
									<li><a href="#">Top Brands</a></li>
									<li><a href="#">Sale & Special Offers</a></li>
									<li><a href="#">Lookbook</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end row -->
				</div>
				<div class="col-sm-6">
					<span class="footer__title">
						Stay connected
					</span>
					<ul class="footer__social">
						<li><a class="facebook" href="#"></a></li>
						<li><a class="twitter" href="#"></a></li>
						<li><a class="instagram" href="#"></a></li>
						<li><a class="pinterest" href="#"></a></li>
						<li><a class="rss" href="#"></a></li>
					</ul>
					<span class="footer__title">
						Subscribe <span>in</span> our news letter
					</span>
					<div class="footer__form-wrapper">
						<form action="#">
							<input class="footer__email" type="email" required placeholder="Enter Your Email Address">
							<button class="footer__submit">
								Subscribe
							</button>
						</form>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end footer__top -->
		<!-- begin footer__bottom -->
		<div class="footer__bottom">
			<!-- begin row -->
			<div class="row">
				<div class="col-sm-4">
					<div class="footer__copyright">
						<p>
							© 2015  Shopia  Fashion Store Shopify. <br>
							All Rights Reserved. Ecommerce Software by Shopify. <br>
							Designed by  MoccaLabs.com
						</p>
					</div>
					<ul class="footer__cards">
						<li class="visa"></li>
						<li class="mastercard"></li>
						<li class="americanexpress"></li>
						<li class="discover"></li>
					</ul>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end footer__bottom -->
	</div>
	<!-- end container -->
</footer>
<!-- end footer -->
<a href="#" class="goup"></a>
{% endblock %}